rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    match /links/{id} {
      allow create: if request.auth != null && request.resource.data.senderId == request.auth.uid;
      allow get, delete: if request.auth != null;
    }
    match /hueStates/{id} {
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
    match /feedback/{id} {
      allow create, update: if request.auth != null && id == request.auth.uid;
    }
  }
}